<div class="navigation-bar">
    <img *ngIf="isUserDetailsPage" routerLink="/users" src="../../../../../assets/images/arrow_back-24px.svg">
    <img *ngIf="isUserListPage || isHomePage" src="../../../../../assets/images/menu-24px.svg">
    <button *ngIf="isUserListPage" routerLink="" class="btn btn-sm btn-link">Home</button>
    <button *ngIf="!isUserDetailsPage && isHomePage" routerLink="/users" class="btn btn-sm btn-link">Users</button>
</div>