@import "../../../../../assets/styles/variables.scss";

.navigation-bar {
  display: flex;
  background: linear-gradient(60deg, $color-light-primary, $color-primary);
  color: $color-white;
  height: 50px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
  padding: 0 15px;
  
  button {
    color: $color-white;
  }

  img {
    filter: invert(1);
    cursor: pointer;
  }
}
