@import "../../../../../assets/styles/variables.scss";
.container {
  h3 {
    margin-top: 15px;
  }

  .field {
    font-weight: 400;
  }

  .field-value {
    text-align: right;
    color: $color-dark-gray;
  }

  .table-border {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
