<div class="container" *ngIf="userDetails">
  <h3>{{userDetails.firstName}} {{userDetails.lastName}}</h3>
  <table class="table table-border">
    <tr>
      <td class="field">Company</td>
      <td class="field-value">{{userDetails.companyName}}</td>
    </tr>
    <tr>
      <td class="field">City</td>
      <td class="field-value">{{userDetails.city}}</td>
    </tr>
    <tr>
      <td class="field">State</td>
      <td class="field-value">{{userDetails.state}}</td>
    </tr>
    <tr>
      <td class="field">ZIP</td>
      <td class="field-value">{{userDetails.zip}}</td>
    </tr>
    <tr>
      <td class="field">Email</td>
      <td class="field-value">{{userDetails.email}}</td>
    </tr>
    <tr>
      <td class="field">Web</td>
      <td class="field-value">{{userDetails.web}}</td>
    </tr>
    <tr>
      <td class="field">Age</td>
      <td class="field-value">{{userDetails.age}}</td>
    </tr>
  </table>
</div>