@import "../../../../../assets/styles/variables.scss";
.container {
  font-size: 12px;
  input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 2px 3px;
    font-size: 14px;
    border-bottom: 1px solid $color-primary;
    width: 250px;
    margin-top: 15px;
    outline: 0;
  }

  .page-details {
    color: $color-dark-gray;
  }

  .table-bordered {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
  }

  .table-header {
    background: linear-gradient(60deg, $color-light-primary, $color-primary);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
    color: $color-white;
  }

  .table-data {
    cursor: pointer;
  }

  .table-data:hover {
    background: $color-light-gray;
  }

  img {
    height: 10px;
    filter: invert(1);
    float: right;
    cursor: pointer;
  }

  .web > a {
    color: $color-primary;
  }

  .pagination-container {
    ul {
      display: flex;
      padding-left: 0;
      list-style: none;
      float: right;
    }

    .p-link {
      display: block;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      color: $color-primary;
      border: 1px solid $color-dark-gray;
      cursor: pointer;
    }

    .p-number.active > a {
      background: $color-primary;
      color: $color-white;
    }

    .p-link:hover {
      background: $color-light-gray;
    }
  }

  .disabled > a {
    pointer-events: none;
    color: $color-dark-gray !important;
  }
}
