<div class="container">
  <input type="text" [(ngModel)]="searchStr" (keyup)='search($event.target.value)' placeholder="Search by first name" />
  <span class='page-details'>{{(pager.startIndex + 1) < 0 ? 0 : pager.startIndex + 1}}-{{pager.endIndex + 1}} of {{pager.totalItems}}</span>
  <div class="table-responsive-md">
  <table class="table table-bordered">
      <thead>
    <tr class="table-header">
      <th>Fist Name<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('firstName')"></th>
      <th>Last Name<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('lastName')"></th>
      <th>Company<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('companyName')"></th>
      <th>City<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('city')"></th>
      <th>State<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('state')"></th>
      <th>ZIP<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('zip')"></th>
      <th>Email<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('email')"></th>
      <th>Web<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('web')"></th>
      <th>Age<img src="../../../../../assets/images/sort-down.svg" (click)="sortTable('age')"></th>
    </tr></thead>
    <tr class="table-data" *ngFor="let item of pagedItems" routerLink="{{item.id}}/detail">
      <td><a>{{item.firstName}}</a></td>
      <td><a>{{item.lastName}}</a></td>
      <td>{{item.companyName}}</td>
      <td>{{item.city}}</td>
      <td>{{item.state}}</td>
      <td>{{item.zip}}</td>
      <td>{{item.email}}</td>
      <td class="web"><a href="{{item.web}}" target="_blank">{{item.web}}</a></td>
      <td>{{item.age}}</td>
    </tr>
  </table>
</div>
  <div *ngIf="pager.pages && pager.pages.length" class='pagination-container'>
    <ul>
      <li class="p-number" [ngClass]="{disabled:pager.currentPage === 1}"><a class="p-link"
          (click)="setPage(1)">First</a></li>
      <li class="p-number" [ngClass]="{disabled:pager.currentPage === 1}"><a class="p-link"
          (click)="setPage(pager.currentPage - 1)">Previous</a></li>
      <li class="p-number" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"><a
          class="p-link" (click)="setPage(page)">{{page}}</a></li>
      <li class="p-number" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="p-link"
          (click)="setPage(pager.currentPage + 1)">Next</a></li>
      <li class="p-number" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="p-link"
          (click)="setPage(pager.totalPages)">Last</a></li>
    </ul>
  </div>
</div>